{% extends "base.html" %}

{% block body %}
    <style>
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .baseball-card {
          width: 250px;
          height: 350px;
          position: relative;
          perspective: 1000px;
          transition: transform 0.3s;
        }
        .baseball-card:hover {
          transform: translateY(-10px);
        }
        .card-front,
        .card-back {
          width: 100%;
          height: 100%;
          position: absolute;
          backface-visibility: hidden;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.6s ease-in-out;
        }
        .card-front {
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .card-back {
          background-color: #003087;
          color: #ffffff;
          transform: rotateY(180deg);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .card-header {
          background-color: #003087;
          padding: 10px;
          text-align: center;
        }
        .player-image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 3px solid #ffffff;
          background-color: white;
        }
        .card-body {
          padding: 15px;
          text-align: center;
        }
        .player-name {
          font-size: 1.5em;
          margin-bottom: 5px;
          margin-top: -5px;
        }
        .player-info,
        .player-stats {
          font-size: 0.9em;
          line-height: 1.6;
        }
        .card-footer {
          padding: 10px;
          text-align: center;
          background-color: transparent;
          margin-top: auto; /* Pushes footer to the bottom */
        }
        button {
          background-color: #28a745;
          color: #fff;
          border: none;
          padding: 8px 16px;
          font-size: 0.9em;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
        }
        button:hover {
          background-color: #218838;
        }
        .baseball-card.flip .card-front {
          transform: rotateY(180deg);
        }
        .baseball-card.flip .card-back {
          transform: rotateY(0);
        }
    </style>

    {% if results %}
        {% for player in results %}
            <div class="container">
                <div class="baseball-card">
                  <!-- Front of the card -->
                  <div class="card-front">
                    <div class="card-header">
                      <img src="/static/mlb.png" alt="Player Image" class="player-image">
                    </div>
                    <div class="card-body">
                      <h2 class="player-name">{{ player[0] }} {{ player[1] }}</h2>
                      <p class="player-info">
                        <strong>Team:</strong> {{ player[2]}} <br>
                        <strong>Year:</strong> {{ player[3] }} <br>
                        <strong>From: </strong> {{ player[4] }}
                      </p>
                    </div>
                    <div class="card-footer">
                      <button class="flip-card-btn">Flip Card</button>
                    </div>
                  </div>

                  <!-- Back of the card -->
                  <div class="card-back">
                    <div class="card-body">
                      <h2 class="player-name">{{ player[0] }} {{ player[1] }}</h2>
                      <p class="player-stats">
                        <strong>Games Played:</strong> {{ player[9] }}<br>
                        <strong>AVG:</strong> {{ player[12] }}<br>
                        <strong>Runs:</strong> {{ player[10] }}<br>
                        <strong>Hits:</strong> {{ player[11] }}<br>
                        <strong>RBI:</strong> {{ player[13] }}<br>
                        <strong>HR:</strong> {{ player[7] }}<br>
                        <strong>SB:</strong> {{ player[14] }}
                      </p>
                    </div>
                    <div class="card-footer">
                      <button class="back-button">Back</button>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No player found!</p>
    {% endif %}

  <script>
    const cards = document.querySelectorAll('.baseball-card')
    cards.forEach((card) => {
        const flipCardBtn = card.querySelector('.flip-card-btn');
        const backButton = card.querySelector('.back-button');

        flipCardBtn.addEventListener('click', (event) => {
            event.stopPropagation();
            card.classList.add('flip');
        });
        backButton.addEventListener('click', (event) => {
            event.stopPropagation();
            card.classList.remove('flip');
        });
    })
  </script>

{% endblock %}