{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1>View team stats</h1>
    <p>Select a team and year to view team statistic for that year</p>

    <!-- Team stats form -->
    <form action="{{ url_for('team.team_stats') }}" method="POST">
        <!-- Select team -->
         <div>
            <label for="teamsDropdown">Team:</label>
            <select name="team_name" id="teamsDropdown">
                <option value="" disabled selected>Select a team</option>
            </select>
         </div>

         <!-- Select year -->
          <div>
            <label for="yearsDropdown">Year:</label>
            <select name="year" id="yearsDropdown">
                <option value="" disabled selected>Select a year</option>
            </select>
          </div>

        <button type="submit" class="btn-submit">View statistics</button>
    </form>
    <!-- Back button to homepage -->
    <a href="/">Back</a>
</div>

<script src="{{ url_for('static', filename='teams.js')}}"></script>
<script src="{{ url_for('static', filename='years.js')}}"></script>

{% endblock %}