{% extends "base.html" %}

{% block body %}

<style>
.container {
    max-width: 80vw;
}
.depth-chart-position {
    display: grid;
    grid-template-areas:
        ". . _CF . ."
        ". _LF . _RF ."
        ". _SS . _2B ."
        ". _3B . _1B ."
        ". . _C . .";
    grid-gap: 10px;
    text-align: center;
}
.depth-chart-pitcher {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.position-box {
    border: 1px solid black;
    padding: 10px;
    background-color: #f9f9f9;
}
._LF { grid-area: _LF; }
._CF { grid-area: _CF; }
._RF { grid-area: _RF; }
._SS { grid-area: _SS; }
._RP { grid-area: _RP; }
._SP { grid-area: _SP; }
._2B { grid-area: _2B; }
._3B { grid-area: _3B; }
._1B { grid-area: _1B; }
._C { grid-area: _C; }
</style>

<div class="container">
    <h1>{{ year }} {{ team_name }}</h1>

    {% if team_info %}
        <p><strong>Wins:</strong> {{ team_info.team_W }}</p>
        <p><strong>Losses:</strong> {{ team_info.team_L }}</p>
        <p><strong>Rank:</strong> {{ team_info.team_rank }}</p>
        <p><strong>Stadium:</strong> {{ team_info.park_name }}</p>
    {% else %}
        <p>No data found for the selected team and year.</p>
    {% endif %}

    <!-- Batting Information -->
     <div>
        <h2>Batting Stats</h2>

        {% if batting_info %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>G</th>
                    <th>PA</th>
                    <th>HR</th>
                    <th>SB</th>
                    <th>BB%</th>
                    <th>K%</th>
                    <th>ISO</th>
                    <th>BABIP</th>
                    <th>AVG</th>
                    <th>OBP</th>
                    <th>SLG</th>
                    <th>wOBA</th>
                    <th>wRC+</th>
                    <!-- <th>BsR</th> -->
                    <!-- <th>Off</th> -->
                    <!-- <th>Def</th> -->
                    <th>WAR</th>
                </tr>
                <tr>
                    {% for row in batting_info %}
                        <tr>
                            {% for col in row %}
                                {% if col == None %}
                                    <td class="stat">0</td>
                                {% else %}
                                    <td class="stat">{{ col }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        {% else %}
            <p>No batting information found.</p>
        {% endif %}
     </div>

    <!-- Pitching Information -->
    <h2>Pitching Stats</h2>

    {% if pitching_info %}
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>G</th>
                <th>IP</th>
                <th>K%</th>
                <th>BB%</th>
                <th>HR/9</th>
                <th>BABIP</th>
                <th>LOB%</th>
                <!-- <th>GB%</th> -->
                <!-- <th>HR/FB</th> -->
                <th>ERA</th>
                <th>FIP</th>
                <!-- <th>xFIP</th> -->
                <th>WAR</th>
            </tr>
            <tr>
                {% for row in pitching_info %}
                    <tr>
                        {% for col in row %}
                            {% if col == None %}
                                <td class="stat">0</td>
                            {% else %}
                                <td class="stat">{{ col }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>No pitching information found.</p>
    {% endif %}

    <!-- Depth Chart -->
    <h2>Depth Chart</h2>

    {% if batting_position_info %}
        <div style="margin-bottom: 20px;">
            <h3>Position players</h3>
            <label for="position-players-stats">Select projected stats:</label>
            <select id="position-players-stats" name="position-players-stats">
                <option value="playing-time">Playing Time</option>
                <option value="batting-average">PA</option>
                <option value="home-runs">WAR</option>
                <option value="rbis">wOBA</option>
            </select>
        </div>
        <div class="depth-chart-position">
            {% for position, players in batting_position_info.items() %}
            <div class="position-box _{{ position }}">
                <strong>{{ position }}</strong>
                <ul>
                    {% for player in players %}
                    <li>{{ player.name }}: {{ player.statistic }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No position data found.</p>
    {% endif %}

    {% if pitching_position_info %}
        <div style="margin-bottom: 20px;">
            <h3>Pitchers</h3>
            <label for="pitchers-stats">Pitchers:</label>
            <select id="pitchers-stats" name="pitchers-stats">
                <option value="playing-time">Playing Time</option>
                <option value="strikeouts">IP</option>
                <option value="era">ERA</option>
                <option value="wins">FIP</option>
            </select>
        </div>
        <div class="depth-chart-pitcher">
            {% for position, players in pitching_position_info.items() %}
            <div class="position-box _{{ position }}">
                <strong>{{ position }}</strong>
                <ul>
                    {% for player in players %}
                    <li>{{ player.name }}: {{ player.statistic }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No position data found.</p>
    {% endif %}

    <a href="{{ url_for('team.team_stats') }}">Search again</a>
</div>

<script>
    document.getElementById('position-players-stats').addEventListener('change', function() {
        const selectedValue = this.value;
        console.log('Position Players stat selected:', selectedValue);
        // Make an AJAX call or fetch to update the data
    });

    document.getElementById('pitchers-stats').addEventListener('change', function() {
        const selectedValue = this.value;
        console.log('Pitchers stat selected:', selectedValue);
        // Make an AJAX call or fetch to update the data
    });
</script>

{% endblock %}